<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ShippingTableRates
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="grizzly_hide_payment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hide Payment Method On Checkout Page</label>
                <field id="hide_specific_method" translate="label" type="multiselect" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Hide Specific Payment Method</label>
                    <source_model>Grizzlysts\HidePaymentMethod\Model\Config\Source\Method</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="default_method" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select default method</label>
                    <source_model>Grizzlysts\HidePaymentMethod\Model\Config\Source\Method</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
